<div class="container">
  <div class="row">
    <div class="col-6 col-example">
      <div class="view">
        <img src="https://i.pinimg.com/originals/39/53/cf/3953cf19733e1571cac4a9a1a4467fc8.jpg" class="img-fluid" alt="placeholder">
        <div class="mask teal-strong">
          <div class="container">
            <div class="row">
              <div class="col-8 space">
                <p class="white-text titlePrincipal">Kanye West</p>
                <p class="white-text titleDescription">1 mont ago in Entertainment</p>
                <p class="white-text titleLoren">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, omnis ratione, possimus officiis cumque magnam</p>
                <app-incrementador (valorSalida)="progreso1 = $event" [valor]="progreso1"></app-incrementador>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0"
          aria-valuemax="100" style="height:16px;"
          [style.width]="getProgreso1"></div>
      </div>
    </div>
    <div class="col-6 col-example">
      <div class="view">
        <img src="https://lh3.googleusercontent.com/proxy/2xsiS_3Ov3VZ7rf85JIr3oR5nDJywNcaSB_srUzJam0H2x5aPEy0EXz74Ei0dRL1SRu9SlvN9LNKAqKsl928WU7Pqu61VapgQ5s8_xzD0x8zVq2Vu4awxCswkz6yC_GfqyJIKRWu" class="img-fluid" alt="placeholder">
        <div class="mask teal-strong">
          <div class="container">
            <div class="row">
              <div class="col-8 space">
                <p class="white-text titlePrincipal">Kanye West</p>
                <p class="white-text titleDescription">1 mont ago in Entertainment</p>
                <p class="white-text titleLoren">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, omnis ratione, possimus officiis cumque magnam</p>
                <app-incrementador (valorSalida)="progreso2 = $event" [valor]="progreso2"></app-incrementador>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0"
          aria-valuemax="100" style="height:16px;"
          [style.width]="getProgreso2"></div>
      </div>
    </div>
    <div class="col-6 col-example">
      <div class="view">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Cristinakirchnermensaje2010.jpg" class="img-fluid" alt="placeholder">
        <div class="mask teal-strong">
          <div class="container">
            <div class="row">
              <div class="col-8 space">
                <p class="white-text titlePrincipal">Kanye West</p>
                <p class="white-text titleDescription">1 mont ago in Entertainment</p>
                <p class="white-text titleLoren">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, omnis ratione, possimus officiis cumque magnam</p>
                <app-incrementador (valorSalida)="progreso3 = $event" [valor]="progreso3"></app-incrementador>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0"
          aria-valuemax="100" style="height:16px;"
          [style.width]="getProgreso3"></div>
      </div>
    </div>
    <div class="col-6 col-example">
      <div class="view">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Malala_Yousafzai_at_Girl_Summit_2014-cropped.jpg" class="img-fluid" alt="placeholder">
        <div class="mask teal-strong">
          <div class="container">
            <div class="row">
              <div class="col-8 space">
                <p class="white-text titlePrincipal">Kanye West</p>
                <p class="white-text titleDescription">1 mont ago in Entertainment</p>
                <p class="white-text titleLoren">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, omnis ratione, possimus officiis cumque magnam</p>
                <app-incrementador (valorSalida)="progreso4 = $event" [valor]="progreso4"></app-incrementador>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0"
          aria-valuemax="100" style="height:16px;"
          [style.width]="getProgreso4"></div>
      </div>
    </div>
  </div>
</div>



