<div class="header-wrapper" id="header">
  <div class="header">
    <div class="logo-wrapper">

      <ul class="nav justify-content-center grey lighten-4 py-4">
        <li class="nav-item">
          <a class="nav-link active" href="#!">Rule of Thumb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#!">Past Trials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Long In / Sing Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#!"><i class="fas fa-search"></i></a>
        </li>
      </ul>

    </div>
    <div class="shop-wrapper"></div>
  </div>
</div>
